<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.kkuily.xingbackend.mapper.AdminMapper">

    <resultMap id="BaseResultMap" type="top.kkuily.xingbackend.model.po.Admin">
            <id property="id" column="id" jdbcType="VARCHAR"/>
            <result property="name" column="name" jdbcType="VARCHAR"/>
            <result property="password" column="password" jdbcType="VARCHAR"/>
            <result property="roleId" column="roleId" jdbcType="VARCHAR"/>
            <result property="deptId" column="deptId" jdbcType="VARCHAR"/>
            <result property="phone" column="phone" jdbcType="VARCHAR"/>
            <result property="avatar" column="avatar" jdbcType="VARCHAR"/>
            <result property="gender" column="gender" jdbcType="OTHER"/>
            <result property="isDeleted" column="isDeleted" jdbcType="OTHER"/>
            <result property="createdTime" column="createdTime" jdbcType="TIMESTAMP"/>
            <result property="modifiedTime" column="modifiedTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,password,
        roleId,phone,avatar,
        gender,isDeleted,createdTime,
        modifiedTime
    </sql>

</mapper>
