<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.kkuily.xingbackend.mapper.AuthMapper">

    <resultMap id="BaseResultMap" type="top.kkuily.xingbackend.model.po.Auth">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="authName" column="authName" jdbcType="VARCHAR"/>
            <result property="authRoute" column="authRoute" jdbcType="VARCHAR"/>
            <result property="description" column="description" jdbcType="VARCHAR"/>
            <result property="isDeleted" column="isDeleted" jdbcType="OTHER"/>
            <result property="createdTime" column="createdTime" jdbcType="TIMESTAMP"/>
            <result property="modifiedTime" column="modifiedTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,authName,authRoute,
        description,isDeleted,createdTime,
        modifiedTime
    </sql>

    <select id="selectAuthDescriptionListByBatchId" resultType="java.lang.String">
        SELECT description
        FROM auth a
        <where>
            <if test="ids != null and ids != ''">
                AND a.id IN
                <foreach item="authId" index="index" collection="ids" open="(" separator="," close=")">
                    #{authId}
                </foreach>
            </if>
        </where>
    </select>

</mapper>
