<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.kkuily.xingbackend.mapper.RoleMapper">

    <resultMap id="BaseResultMap" type="top.kkuily.xingbackend.model.po.Role">
        <id property="id" column="id" jdbcType="VARCHAR"/>
        <id property="rolename" column="roleName" jdbcType="VARCHAR"/>
        <result property="authlist" column="authList" jdbcType="OTHER"/>
        <result property="description" column="description" jdbcType="VARCHAR"/>
        <result property="isDeleted" column="isDeleted" jdbcType="OTHER"/>
        <result property="createdTime" column="createdTime" jdbcType="TIMESTAMP"/>
        <result property="modifiedTime" column="modifiedTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,roleName,authList,
        description,isDeleted,createdTime,
        modifiedTime
    </sql>
</mapper>
