<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.kkuily.xingbackend.mapper.TagMapper">

    <resultMap id="BaseResultMap" type="top.kkuily.xingbackend.model.po.Tag">
            <id property="id" column="id" jdbcType="INTEGER"/>
            <result property="tagName" column="tagName" jdbcType="VARCHAR"/>
            <result property="isDeleted" column="isDeleted" jdbcType="OTHER"/>
            <result property="createdTime" column="createdTime" jdbcType="TIMESTAMP"/>
            <result property="modifiedTime" column="modifiedTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,name,isDeleted,
        createdTime,modifiedTime
    </sql>

    <select id="findTagNameListByBatchId" resultType="java.lang.String">
        SELECT tagName
        FROM tag t
        <where>
            <if test="ids != null and ids != ''">
                AND t.id IN
                <foreach item="tagId" index="index" collection="ids" open="(" separator="," close=")">
                    #{tagId}
                </foreach>
            </if>
        </where>
    </select>

</mapper>
