<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="top.kkuily.xingbackend.mapper.UserArticleMapper">

    <resultMap id="BaseResultMap" type="top.kkuily.xingbackend.model.po.UserArticle">
        <id property="id" column="id" jdbcType="VARCHAR"/>
        <result property="articleId" column="articleId" jdbcType="VARCHAR"/>
        <result property="type" column="type" jdbcType="OTHER"/>
        <result property="createdTime" column="createdTime" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,articleId,type,
        createdTime
    </sql>

    <!-- 通过文章ID获取指定类型的文章 -->
    <select id="selectSpecificTypeArticlesById" resultType="top.kkuily.xingbackend.model.bo.Article.ArticleLinkBO">
        SELECT a.id,
               a.title
        FROM user_article AS ua
                 JOIN article AS a ON ua.articleId = a.id
        WHERE ua.id = #{userId}
          AND ua.type = #{userArticleTypeEnums}
        ORDER BY a.createdTime DESC
        LIMIT #{skip}, #{pageSize}
    </select>
</mapper>
